<div class="navbar sticky-top">
    <div class="navbar-menu">
        <ul>
            <li><i class="fab fa-playstation"></i></li>
            <li><button>Juegos</button><i class="fas fa-chevron-down"></i></li>
            <li><button>Hardware</button><i class="fas fa-chevron-down"></i></li>
            <li><button>Servicios</button><i class="fas fa-chevron-down"></i></li>
            <li><button>Noticias</button><i class="fas fa-chevron-down"></i></li>
            <li><button>Tienda</button><i class="fas fa-chevron-down"></i></li>
            <li><button>Ayuda</button><i class="fas fa-chevron-down"></i></li>
        </ul>
    </div>
    <div class="navbar-botones">
        <a href="">My Play Station</a>
        <button class="login-btn">Iniciar Sesión</button>
        <button class="icono-search"><i class="fas fa-search"></i></button>
    </div>
</div>
<div class="container">
    <button class="button-overview">Overview</button>
</div>