<div class="footer">
    <div class="footer-info">
        <ul>
            <li><a href=""><i class="fab fa-playstation"></i></a></li>
            <li><a class="ref-button" href="">Soporte</a> <span>|</span></li>
            <li><a class="ref-button" href="">Acerca de nosotros</a> <span>|</span></li>
            <li><a class="ref-button" href="">Términos del servicio</a> <span>|</span></li>
            <li><a class="ref-button" href="">Política de privacidad</a> <span>|</span></li>
            <li><a class="ref-button" href="">Comunicados de prensa</a> <span>|</span></li>
            <li><a class="ref-button" href="">Oportunidades de Empleo</a> <span>|</span></li>
            <li><a class="ref-button" href="">Legal</a> <span>|</span></li>
            <li><a class="ref-button" href="">Contáctanos</a> <span>|</span></li>
            <li><a class="ref-button" href="">Mapa de sitio</a></li>
        </ul>
    </div>
    <div class="footer-lan">
        <span class="footer-select">
            <img src="../../../../assets/image/world.png" alt="World">
            <a href="">SELECCIONAR PAÍS: COLOMBIA</a>
        </span>
        <img class="footer-esrb" src="../../../../assets/image/esrb_logo_footer.png" alt="ESRB logo">
    </div>
    <div class="footer-details">
        <span>© 2020 All rigth reserved</span>
    </div>
</div>